extends template

block content

  section
    each item in data
      article
        img(src=item.thumbnailUrl, alt="")
        h2 Album: #{item.album}
        h3 Artist: #{item.artist}
        p Description: #{item.description}