doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Workshop 4
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/normalize.css")
  body
    main
      img(src="/images/song.svg", alt="", class="img-title")
      h1 Albums list

    block content