doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Workshop 4
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
  body
    main
      img(src="/images/song.svg", alt="", class="img-title")
      h1(class="alert alert-primary") Albums list

    block content